.connectionList {
    background-color: #ffffff;
    margin-top: 3%;
    width: inherit;
    border-radius: 15px;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 15px;
}

.combobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 62.34px;
height: 80.03px;
    font-size: 10px;
    cursor: pointer;

}

.logocontainer {
    display: flex;
    width: inherit;    
    overflow-x: scroll;
    white-space: nowrap;
    gap: 40px;
    padding: 0 10px;

}